@charset "utf-8";

/* 共通部分 */
.contents {
    overflow: auto;
    margin-top: 150px;
}



/* header */
header{
    height: 150px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;

}
header h1{
    display: sticky;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 100px;
}

ul{
    list-style: none;
    display: flex;
    padding-top: 30px;
    background-color:rgb(161, 186, 231);
}

li a {
    margin-left: 35px;
    color:black;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    color: rgb(86, 52, 36);
}

/* index main */
/* description */
.super-description {
    position: relative;
    width: 100%;
    height: 500px;
    text-align: center;
}

.description{
    position: absolute;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    padding-top: 200px;
}

.show{
    opacity: 1;
}

.description h3 {
    color: rgb(150, 150, 255);
    text-shadow: rgb(20, 20, 20) 0px 0px 3px;
    font-size: 30px;
}

.description p {
    color: rgb(150, 150, 255);
    text-shadow: rgb(20, 20, 20) 0px 0px 3px;
    font-size: 30px;
}

.description a {
    color: rgb(150, 150, 255);
    text-shadow: rgb(20, 20, 20) 0px 0px 3px;
    text-decoration: none;
    font-size: 30px;
}

.description a:hover {
    text-decoration: underline;
    color: rgb(86, 52, 36);
}

/* compatible-area */

.compatible-area {
    text-align: center;
    margin: 50px;
    background-color: rgb(200, 250, 255);
    height: 1000px;
    box-shadow: 0px, 0px, 3px, 3px, #06060639;
}

.image {
    width: 400px;
    height: 400px; 
    margin-left: 55px;
}

#fade {
    opacity: 0;
    transition: 4s;
}

.compatible-area h3 {
    padding-top: 60px;
    font-size: 25px;
    margin: 18px;
}

.compatible-area p {
    margin-top: 14px;
    margin-bottom: 60px;
}

.compatible-area a {
    color: black;
    text-decoration: none;
}

.compatible-area a:hover {
    color: rgb(50, 50, 50)
}

.compatible-area .imgs {
    display: flex;
}

/* price_list main */
main{
    background-color: rgb(247, 255, 255);
    padding-bottom: 30px;
}
.page-title{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(195, 240, 240);
}
.price_table{
    width: 85%;
    margin:40px auto;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 3px #06060639;
}
.price_table table{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    border: solid 1px;
}
thead{
    background-color: rgb(117, 159, 204);
    color: aliceblue;
}
th,td{
    padding: 7px;
    border-left: solid 1px;
}
tbody tr td:nth-of-type(1){
    width: 40%;

}
tbody tr td:nth-of-type(2), tbody tr td:nth-of-type(3){
    width: 30%;
}
tbody tr:nth-of-type(odd){
    background-color: rgb(255, 252, 254);
}
tbody tr:nth-of-type(even){
    background-color: rgb(243, 254, 243);
}
.category_table{
    width: 90%;
    margin:40px auto;
}
.category_table h2{
    margin-bottom: 10px;
    width: 90%;
    margin: 0 auto;
}

/* footer */
footer{
    padding: 50px 0;
    background-color: rgb(134, 165, 168);
    text-align: center;
}
footer h3, footer p{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 20px auto;
    color: aliceblue;
}